* {
    font-size: 0.32rem;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
}
#app{
    height: 100vh;
}
.buttonInputStyle {
    border-top-left-radius: 8% 50%;
    border-top-right-radius: 8% 50%;
    border-bottom-right-radius: 8% 50%;
    border-bottom-left-radius: 8% 50%;
    outline: none;
    width: 100%;
    height: 1rem;
    color: #fff;
}